/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 14, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 17, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 20, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 23, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 27, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 33, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../sass/main.scss */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
/* line 15, ../sass/main.scss */
body .hide {
  display: none;
}

/* line 20, ../sass/main.scss */
section.main-content {
  width: 80%;
  margin: 0 10%;
  text-align: center;
}
/* line 25, ../sass/main.scss */
section.main-content .icon {
  height: 32px;
  margin-bottom: -8px;
  width: 32px;
}

/* line 32, ../sass/main.scss */
section.resources, section.units {
  background-color: #4E342E;
  color: white;
  height: 64px;
  line-height: 64px;
  width: 100%;
}
/* line 39, ../sass/main.scss */
section.resources div, section.units div {
  width: 33%;
  float: left;
}
/* line 44, ../sass/main.scss */
section.resources .eggs .amount, section.units .eggs .amount {
  color: #FFC107;
}
/* line 47, ../sass/main.scss */
section.resources .food .amount, section.units .food .amount {
  color: #FF5722;
}
/* line 50, ../sass/main.scss */
section.resources .water .amount, section.units .water .amount {
  color: #2196F3;
}
/* line 54, ../sass/main.scss */
section.resources .positive, section.units .positive {
  color: #4CAF50;
}
/* line 58, ../sass/main.scss */
section.resources .upkeep-food, section.units .upkeep-food {
  color: #FF5722;
}
/* line 61, ../sass/main.scss */
section.resources .upkeep-water, section.units .upkeep-water {
  color: #2196F3;
}
/* line 64, ../sass/main.scss */
section.resources .upkeep-food, section.resources .upkeep-water, section.units .upkeep-food, section.units .upkeep-water {
  cursor: help;
}

/* line 69, ../sass/main.scss */
section.spawn-tabs {
  height: 60px;
  margin-top: 25px;
}
/* line 73, ../sass/main.scss */
section.spawn-tabs div {
  cursor: pointer;
  border: solid #3333ff 2px;
  border-radius: 4px;
  float: left;
  width: calc(33.3% - 4px);
}
/* line 80, ../sass/main.scss */
section.spawn-tabs div:hover {
  background-color: grey;
  color: white;
}
/* line 84, ../sass/main.scss */
section.spawn-tabs div.active {
  background-color: grey;
  color: white;
}
/* line 89, ../sass/main.scss */
section.spawn-tabs > span {
  display: block;
}

/* line 95, ../sass/main.scss */
section.controls > div > span {
  cursor: pointer;
  border: solid #3333ff 2px;
  border-radius: 4px;
  float: left;
  width: calc(33.3% - 4px);
}
/* line 102, ../sass/main.scss */
section.controls > div > span div {
  display: inline;
}
/* line 105, ../sass/main.scss */
section.controls > div > span div.cost {
  color: #FFC107;
  cursor: help;
}
/* line 110, ../sass/main.scss */
section.controls > div > span:active {
  background-color: grey;
  color: white;
}

/* line 116, ../sass/main.scss */
section.history {
  border: solid grey 2px;
  border-radius: 4px;
  margin-top: 25px;
  height: 200px;
  overflow-y: scroll;
  padding: 2%;
  width: 96%;
}
/* line 124, ../sass/main.scss */
section.history span {
  display: block;
  text-align: left;
}

/* line 130, ../sass/main.scss */
header {
  background-color: #4CAF50;
  color: white;
  font-size: 2rem;
  height: 50px;
  line-height: 50px;
  padding: 0 10%;
  text-align: left;
}
/* line 139, ../sass/main.scss */
header nav {
  float: right;
  width: 25%;
}
/* line 143, ../sass/main.scss */
header nav .icon {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  float: right;
  height: 32px;
  margin-left: 16px;
  margin-top: 8px;
}
/* line 153, ../sass/main.scss */
header nav .icon:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}
/* line 156, ../sass/main.scss */
header nav .icon.active {
  border: solid 2px #2196F3;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}
